.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--primary-color);
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo h1 {
    font-family: "Amaranth", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.logo div:nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo p {
    position: relative;
    bottom: 20px;
    left: 20px;
    font-size: 10px;
    color: #fff;
}