/* .collectedPage {
  
} */
  
.calendarContainer {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filterContainer {
    display: flex;
    gap: 10px;
}

.periodicalOption {
    background: #ffff;
    color: #258548;
    border: 1px solid #258548;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out;;
}

.periodicalOption:hover {
    /* background: var(--primary-color); */
    color: #258548;
    /* border-color: var(--primary-color); */
    background-color: #DCFAE8;
}


.monthNavigation,
.yearNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.navButton {
    background: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
  
.navButton:hover {
    background: var(--primary-hover-color);
}
  
.calendarTable {
    width: 100%;
    border-collapse: collapse;
}
  
.calendarTable th,
.calendarTable td {
    border: 1px solid #ddd;
    /* padding: 10px;
    text-align: center;
    width: 14.28%; */
}
.calendarTable td:hover {
    background-color: #ddd;
    cursor: pointer;
}


.calendarTableMonth {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
  
.calendarTableMonth th,
.calendarTableMonth td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 14.28%;
}
.calendarTableMonth td:hover {
    background-color: #ddd;
    cursor: pointer;
}

.calendarDay {
    position: relative;
    height: 80px;
    vertical-align: top;
    text-align: center;
}

.dateNumber {
    /* font-weight: bold; */
    position: absolute;
    top: 5px;
    left: 5px;
}

  
.calendarTable th {
    background: #f4f4f4;
}
  
.cell {
    height: 80px;
    vertical-align: top;
    position: relative;
}
  
.date {
    font-weight: bold;
}
  
.event {
    font-size: 12px;
    margin-top: 5px;
    #fff-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  