.priceTrends {
    padding: 20px 50px;
    background-color: var(--background-light);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 10px;
}

.selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection .selectionLeft,
.selection .selectionRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.priceTrends h2 {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: start;
    margin-bottom: 20px;
}

.linechartTable {
    background-color: var(--background-color-default);
    padding: 20px 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .sidebarOpen {
        transform: translateX(0);
    }
    .supplyGrid {
        grid-template-columns: 1fr;
    }
}
