.seasonalForecastPage {
    
}

.filterContainer {
    display: flex;
    gap: 10px;
}

.periodicalOption {
    background: #ffff;
    color: #258548;
    border: 1px solid #258548;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out;;
}

.periodicalOption:hover {
    /* background: var(--primary-color); */
    color: #258548;
    /* border-color: var(--primary-color); */
    background-color: #DCFAE8;
}

.seasonalForecastContent {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  




/* line chart */